.main-frame {
  margin: auto;
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: var(--max);
  display: flex;
  gap: var(--gap);
}

.hero-img {
  width: 100%;
  height: auto;
  margin-block: 0 24px;
}

.left {
  padding-top: 16px;
  width: 100%;
  flex: 1 1 auto;
}


/**************************************************************************************/
/* product-content                                                                    */
/**************************************************************************************/
.content {
  max-width: var(--content);
  width: 90%;
  margin-inline: auto;
}

.info-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-radius: 50%;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  color: var(--text);
  cursor: help;
}

.restaurant {
  display: flex;
  justify-content: space-between;
}

.search-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--muted);
  border-radius: 16px;
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
}

.search-menu svg {
  flex: 0 0 auto;
  color: var(--text);
}

.search-menu input {
  flex: 1;
  /* takes rest of space*/
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.menu-img {
  height: 112px;
  width: auto;
  border-radius: 16px;
}

.menu-img-container {
  position: relative;
}

.menu-item {
  padding: 1% 1% 0.2% 1%;
  border-radius: 16px;
  transition: background-color 150ms ease-out,
    transform 150ms ease-out,
    box-shadow 120ms ease-out;
}

.menu-item:hover {
  background-color: var(--accent-hover);
  transform: translateY(-1px);
  box-shadow: var(--shadow);
  cursor: pointer;
}

.menu-item.pulse {
  background-color: var(--accent);
  transform: scale(1.02);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

}

.add-button {
  position: absolute;
  top: 0.4rem;
  right: 0.05rem;
}

.sticky-wrap {
  background: var(--bg);
  padding-bottom: 16px;
  padding-top: 16px;
}

/**************************************************************************************/
/* cart                                                                               */
/**************************************************************************************/

.cart {
  box-shadow: var(--v-shadow-left);
  margin-top: 16px;
  padding-top: 8px;
  padding-left: 8px;
  flex: 0 0 var(--cart);
  align-self: flex-start;
}

#cart-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close-cart {
  position: absolute;
  top: 10px;
  right: 48px;
  height: 12px;
  width: 12px;
}