.only-mobile {
        display: none;
    }

@media (min-width: 561px) {

    /* Desktop: Cart always visible, button gone */
    #cart-panel {
        display: block !important;
        position: sticky;
        top: 32px; /*not 96 anymore*/
    }

    #cart-button {
        display: none !important;
    }

    .main-frame {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .only-mobile {
        display: none;
    }

}

@media (max-width: 560px) {

    /* Mobile: MenuFlow */
    .main-frame {
        display: block;
    }

    /* Cart-Overlay */
    #cart-panel {
        position: fixed;
        inset: 0;
        z-index: 1000;         
        background: #fff;
        overflow-y: auto;      
    }

    /* hide Cart if Flag set */
    #cart-panel.cart-is-closed {
        display: none !important;
    }

    /* Mobile-Button */
    #cart-button {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cart-button.cart-button-hidden {
        display: none !important;
    }

    .only-mobile {
        display: block;
    }

    /* BODY-SCHLEIER */
    body::before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(2px);
        opacity: 0;
        pointer-events: none;
        transition: opacity 150ms ease-out;
        z-index: 900;           /* Schleier */
    }

    body.cart-open::before {
        opacity: 1;
    }
}

@media (max-width: 850px) {

}
